{%extends "base.html"%}
{% block column1 %}
<h2 class="helloblock">hello</h2>
<p class="message1">We regualarly crawl various sites on the net to get you the freshest lyrics out there. 
    These are available classified using the artist name.
</p>
{% endblock %}
{% block content %}
<p>We have {{no_artists }} artists on our system right now. They are listed below</p>
<p>
    <ol>
        {% for artist in artists %}
        <li class="list1"> <a href="{{url_for('artist' ,artist_id=artist.id)}}">{{artist.name}}</a></li>
        {% endfor %}
    </ol>
</p>
<form>
<input type="button" value="Forward" onclick="history.forward()">
</form>
{% endblock %}

</div>