{% extends "base.html"  %}

{%block column1%}

{% for song in songs_list %}
{% if song.name == song_name %}
<li id="{{song.id}}" class="song_name"> {{song.name}}</li>
  {% else %}
  <li id="{{song.id}}" class="song_lyrics"> <a class="songLink" href="{{url_for('song' ,song_id=song.id)}}">{{song.name}}</a></li>
{% endif %}

{% endfor %}

{%endblock%}

{%block content%}
<div class="lyrics"> 
    <h2 class="lyrics_heading">{{song_name}}</h2>
    <div>
        {% autoescape off %}
        <em class="lyrics">{{lyrics}}</em>
        {% endautoescape %}
    </div>
</div>
    <form>
        <input type="button" value="Backword" onclick="history.back()">
    </form>

{% endblock%}