{%extends "base.html"%}
{%block column1%}
<p>{{artist_name}}</p>
{%endblock%}

{% block content %}
<p>We have {{no_songs}} songs on our system right now. They are listed below</p>
<p>
    <ol>
        {% for song in songs %}
        <li > <a href="{{url_for('song' ,song_id=song.id)}}">{{song.name}}</a></li>
        {% endfor %}
    </ol>
</p>
<form>
    <input type="button" value="Backword" onclick="history.back()">
    <input type="button" value="Forward" onclick="history.forward()">
</form>
{% endblock %}